GestioneMonetaria/FileGuadagniSpese.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="list">
    <xs:annotation>
      <xs:documentation>FileGuadagniSpese.xml</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element name="GuadagnoSpesa" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:date" name="data"/>
              <xs:element type="xs:string" name="categoria"/>
              <xs:element type="xs:string" name="descrizione"/>
              <xs:element type="xs:byte" name="importo"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>

