LogServerXML/ElementoLog.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="ElementoLog">
    <xs:complexType>
      <xs:sequence>
        <xs:element type="xs:string" name="indirizzoIP"/>
        <xs:element type="xs:string" name="dataOra"/>
        <xs:element type="xs:string" name="nomeEvento"/>
        <xs:element type="xs:string" name="oggettoCoinvolto"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>